<html>
    <head>
    <title>Timelapse</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    </head>
    <body>

        {{{body}}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
    </body>
</html>
