<div class="container detail">


    {{#each video}}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 video-wrapper">
            <div>
                <a href="/" class="btn btn-primary pull-right">Back to list</a>
                <h1>{{name}}</h1>
            </div>
            <video src="{{videoFolder}}/{{start_time}}.ogv" controls>
              Your browser does not support the <code>video</code> element.
            </video>
            <a href="/api/videos/{{start_time}}/reset" class="btn btn-primary pull-right reset-views">Reset</a>
        </div>
    </div>
    {{/each}}

</div>